*.asv
motor mapping/
motor mapping/**
shepherdlabephys/
shepherdlabephys/**
thalamic-echo/
thalamic-echo/**
phdmatlab/
phdmatlab/**
phdmatlab-master/
phdmatlab-master/**
artificial eye/
artificial eye/**